doctype html
html
    head
    body
        div
            | Hello word
        div
            block content
        div
            | Footer
            br
            a(href=frontendURL) Visit our web site
