doctype html
html
    head
    body
        div
            | Hello word
        div
            block content
        div
            | Footer
            br
            a(href="http://google.com") visit our web site
